
	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
	

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		

		
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner-fullwidth-big-height">
							<ul class="slides">
								<!-- slide 1 start -->
								<!-- ================ -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Exclusive Collection">
								
								<!-- main image -->
								<img src="/images/shop-slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
								
								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="600"
									data-start="0">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout large_white"
									data-x="left"
									data-y="180"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad">Made In India, we at 1Oh!One do not compromise in quality.
								</div>	

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
									data-x="left"
									data-y="300"
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad">
								</div>	

								<!-- LAYER NR. 3 -->
								<div class="tp-caption sfb fadeout medium_white hidden-xs"
									data-x="left"
									data-y="320"
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption sfb fadeout small_white text-center"
									data-x="left"
									data-y="430"
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
								</div>

								</li>
								<!-- slide 1 end -->

								<!-- slide 2 start -->
								<!-- ================ -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="New Arrivals">
								
								<!-- main image -->
								<img src="/images/shop-slide-2.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
								
								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="600"
									data-start="0">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout text-right large_white"
									data-x="right"
									data-y="180"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"><span class="text-default">All garments are made of Premium Quality Cotton.</span>
								</div>	

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
									data-x="right"
									data-y="300"
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad">
								</div>	

								<!-- LAYER NR. 3 -->
								<div class="tp-caption sfb fadeout medium_white text-right hidden-xs"
									data-x="right"
									data-y="320"
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption sfb fadeout small_white text-right text-center"
									data-x="right"
									data-y="430"
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
								</div>
								</li>
								<!-- slide 2 end -->
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->
			
			<div id="page-start"></div>

			<!-- section start -->
			<!-- ================ -->
			<section class="section light-gray-bg clearfix">
				<div class="container">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h2 class="text-center">Our <strong>Products</strong></h2>
								<br>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<!-- pills start -->
							<!-- ================ -->
							<!-- Nav tabs -->
							<ul class="nav nav-pills" role="tablist">
								
							</ul>
							<!-- Tab panes -->
							<div class="tab-content clear-style">
								<div class="tab-pane active" id="pill-1">
									<div class="row masonry-grid-fitrows grid-space-10">
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product1.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product1.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfxfff8da3t?pid=TSHEGNFXYVYJGJMF" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product2.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product2.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfx3b5humdt?pid=TSHEGNFXEWFMUS85" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product3.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product3.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfxz7eny2h8?pid=TSHEGNFXHPVXGCSK" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product4.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product4.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegn24mmfabzsm?pid=TSHEGN24XG5RTN4J" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product5.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product5.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfxx5mrg4eu?pid=TSHEGNFXA743GGZH" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
											<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product10.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product10.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfxt8hyynu8?pid=TSHEGNFXAJWXRQHJ" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product7.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product7.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfxfmpdtthk?pid=TSHEGNFXZTZC3AJ4" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
											<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product8.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product8.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfxsrahmqfs?pid=TSHEGNFXFTASFMMY" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product9.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product9.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfxg6qjazju?pid=TSHEGNFXJFNQYGYQ" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product10.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product10.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfxt8hyynu8?pid=TSHEGNFXAJWXRQHJ" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product11.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product11.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfxv5mtheuy?pid=TSHEGNFXJEMKAJCH" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 masonry-grid-item">
											<div class="listing-item white-bg bordered mb-20">
												<div class="overlay-container">
													<img src="/images/product12.jpeg" alt="">
													<a class="overlay-link popup-img-single" href="/images/product12.jpeg"><i class="fa fa-search-plus"></i></a>
												</div>
												<div class="body">
													<p class="small">1OhOne Solid Men's Polo T-Shirt</p>
													<div class="elements-list clearfix">
														<a target="_blank" href="http://www.flipkart.com/1ohone-solid-men-s-polo-t-shirt/p/itmegnfx2qnszxdj?pid=TSHEGNFXHRKFQRGM" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Buy Now<i class="fa fa-shopping-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- pills end -->
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================
			<!--<section class="section dark-translucent-bg background-img-2" style="background-position: 50% 52%;">-->
			<!--	<div class="container">-->
			<!--		<div class="row">-->
			<!--			<div class="col-md-12">-->
			<!--				<div class="call-to-action text-center">-->
			<!--					<div class="row">-->
			<!--						<div class="col-sm-8">-->
			<!--							<h1 class="title">Don't Miss Out Our Offers</h1>-->
			<!--							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quasi explicabo consequatur consectetur, a atque voluptate officiis eligendi nostrum.</p>-->
			<!--						</div>-->
			<!--						<div class="col-sm-4">-->
			<!--							<br>-->
			<!--							<p><a href="#" class="btn btn-lg btn-default btn-animated">Learn More<i class="fa fa-arrow-right pl-20"></i></a></p>-->
			<!--						</div>-->
			<!--					</div>-->
			<!--				</div>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--	</div>-->
			<!--</section>-->
			<!-- section end -->
			
			<!-- section -->
			<!-- ================ -->
			<section class="pv-30 light-gray-bg padding-bottom-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center"><strong>Testimonials</strong></h2>
							<br>
						</div>
					</div>
				</div>
				<div class="space-bottom">
					<div class="owl-carousel content-slider">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="testimonial text-center">
										<h3>Best Quality!!</h3>
										<div class="separator"></div>
										<div class="testimonial-body">
											<blockquote>
												<p>This is the best quality Polo t-shirt I have purchased so far.. I generally wear US polo but I feel this quality is much better at a cheap price..Even after 3 washes the quality is still intact. The fit is just perfect.</p>
											</blockquote>
											<div class="testimonial-info-1">- Hardik Shah</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="testimonial text-center">
										<h3>Awesome!</h3>
										<div class="separator"></div>
										<div class="testimonial-body">
											<blockquote>
												<p>I bought this t-shirt thinking it will be nothing different from the ones you usually come across. But I was wrong. The fabric is just too good.. as the makers of the product have mentioned.. one can truly feel the quality of cotton used in the process of making. The cloth is perfectly tailored and has given me a fitting just the way I expected it to be. Awesome product! Awesome price! Definitely buying more of these..</p>
											</blockquote>
											<div class="testimonial-info-1">- Harshit Shah</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="testimonial text-center">
										<h3>Good product</h3>
										<div class="separator"></div>
										<div class="testimonial-body">
											<blockquote>
												<p>I ordered this tshirt and I loved it. The fitting was good, and the material has a very soft feeling from the inside. Very good quality at such low price.</p>
											</blockquote>
											<div class="testimonial-info-1">- Vir Merchant</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="section light-gray-bg clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">Happy <strong>Customers</strong></h2>
							<br>
							<!--<div class="separator"></div>-->
							<!--<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa unde sequi consectetur atque blanditiis rem sed porro ducimus, quidem inventore eum quis.</p>-->
						</div>
					</div>
				</div>
				<div class="owl-carousel carousel-autoplay pl-10 pr-10">
					<div class="listing-item pl-10 pr-10 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/1.png" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/2.png" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/3.JPG" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/4.JPG" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/5.jpg" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/6.jpg" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/7.jpg" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/8.jpg" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/9.jpg" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/10.jpg" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/11.jpg" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/12.jpg" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/13.jpg" alt="">
						</div>
					</div>
					<div class="listing-item pl-10 pr-10 mb-20 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="images/14.jpg" alt="">
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			
			
		
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- jQuery Revolution Slider  -->
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

		<!-- Count To javascript -->
		<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
		
		<!-- Parallax javascript -->
		<script src="plugins/jquery.parallax-1.1.3.js"></script>

		<!-- Contact form -->
		<script src="plugins/jquery.validate.js"></script>

		<!-- Background Video -->
		<script src="plugins/vide/jquery.vide.js"></script>

		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
		
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="plugins/SmoothScroll.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>


