	<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix ">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-6">
									<div class="footer-content">
										<div class="logo-footer"><img id="logo-footer" src="images/website-logo.jpg" alt=""></div>
										<p>Made In India, we at 1Oh!One do not compromise in quality. All garments are made of Premium Quality Cotton. 1Oh!One polo t-shirts have 2 button placket, additional yarn in collar and cuffs for a neater appearance and durability, and stretch tape in shoulders for extreme strength. We recommend you to pair these up with denims and chinos for the best casual look. Polos can be trendy too!</p>
									</div>
								</div>
								
								
								<div class="col-md-6">
									<div class="footer-content">
										<h2 class="title">Find Us</h2>
										<div class="separator-2"></div>
										<ul class="social-links circle animated-effect-1">
											<li class="facebook"><a target="_blank" href="https://www.facebook.com/1OhOne.Official"><i class="fa fa-facebook"></i></a></li>
											<li class="instagram"><a target="_blank" href="https://www.instagram.com/1ohone.official"><i class="fa fa-instagram"></i></a></li>	
										</ul>
										<div class="separator-2"></div>
										<ul class="list-icons">
											<li><i class="fa fa-phone pr-10 text-default"></i> +91 9920935517</li>
											<li><a href="mailto:info@1ohone.in"><i class="fa fa-envelope-o pr-10"></i>info@1ohone.in</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									<p class="text-center">Copyright © 2016 1OhOne Clothing - Site Credits <a target="_blank" href="http://www.letsalign.com">LetsAlign</a>. All Rights Reserved</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->