			<!-- header-container start -->
			<div class="header-container">
				
				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ --> 
				<header class="header  fixed   clearfix" style="
    background-color: #fff;
">
               
               <div class="container">
                  <div class="row">
                     <div class="col-md-3">
                        <!-- header-left start -->
                        <!-- ================ -->
                        <div class="header-left clearfix" >

                           <!-- logo -->
                           <div id="logo" class="logo">
                              <a href="template/index.html"><img id="logo_img" src="/images/website-logo.jpg" alt="The Project" align="middle"></a>
                           </div>
                           
                        </div>
                        <!-- header-left end -->

                     </div>
											<!-- Collect the nav links, forms, and other content for toggling -->
									                        <div class="header-right clearfix">
                           
                        <!-- main-navigation start -->
                        <!-- classes: -->
                        <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                        <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                        <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                        <!-- ================ -->
                        <div class="main-navigation  animated with-dropdown-buttons">

                           <!-- navbar start -->
                           <!-- ================ -->
                           

                                 <!-- Toggle get grouped for better mobile display -->
                              <!--   <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                       <span class="sr-only">Toggle navigation</span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                    </button>
                                    
                                 </div>  -->
                                 <!-- Collect the nav links, forms, and other content for toggling -->
                                 <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
<h3 style = "color:#00003B;margin-top: 55px;
    font-size: 35px;"> We Are Live!</h3>
<!--
                                       <li class="dropdown active mega-menu">
                                          <a href="template/index.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                          
                                       </li>
                                       
                                        <li class="dropdown active mega-menu">
                                          <a href="template/index.html" class="dropdown-toggle" data-toggle="dropdown">About</a>
                                          
                                       </li>
                                       
                                        <li class="dropdown active mega-menu">
                                          <a href="template/index.html" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
                                          
                                       </li>-->
                                        </ul> 
							
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->	
								</div>
								<!-- header-right end -->
					
				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->